:root {
}

:root[data-theme='light'] {
	--background-colour: #fff;
	--text-colour: #000;

	--card-background: rgb(252, 252, 252);
	--card-border: rgb(214, 214, 214);
	--card-highlight: rgb(136, 136, 136);
	--card-highlight-text-colour: #fff;

	--navbar-background: rgba(255, 255, 255, 0.9);
	--navbar-highlight-rgb: 0, 0, 0;
	--navbar-highlight-opacity: 0.1;
}

:root[data-theme='dark'] {
	--background-colour: #000;
	--text-colour: #fff;

	--card-background: rgb(32, 32, 32);
	--card-border: rgb(54, 54, 54);
	--card-highlight: rgb(77, 77, 77);
	--card-highlight-text-colour: #fff;

	--navbar-background: rgba(0, 0, 0, 0.9);
	--navbar-highlight-rgb: 255, 255, 255;
	--navbar-highlight-opacity: 0.25;
}
